/problematicas/problema01/nbproject/private/
/problematicas/problema01/build/
/problematicas/problema02/nbproject/private/
/problematicas/problema02/build/
/problematicas/problema03/nbproject/private/
/problematicas/problema03/build/
/problematicas/problema04/nbproject/private/
/problematicas/problema04/build/
/problematicas/problema05/nbproject/private/
/problematicas/problema05/build/
